<html>
<head>
    <title>MVC Index</title>
</head>
<body>
    <h2>This page lists some mvc demos.</h2>
    <ul class="ulnone" >
        <li>@Html.ActionLink("Use checkbox with JS to set auth", "MVC_SetAuth", "MVC")</li>
        <li>@Html.ActionLink("Auto complete", "MVC_AutoComplete", "MVC")</li>
        <li>@Html.ActionLink("Transpost many different type data to controller with ajax", "MVC_TransManyParam", "MVC") This didn't complete, I don't know how to post 'json' without jquery.</li>
    </ul>
</body>
</html>