<html>
<head>
    <title>MVC Index</title>
</head>
<body>
    <h2>This page lists some mvc demos.</h2>
    <ul class="ulnone" style="width:500px;">
        <li>@Html.ActionLink("Use checkbox with JS to set auth", "MVC_SetAuth", "MVC")</li>
        <li>@Html.ActionLink("Auto complete", "MVC_AutoComplete", "MVC")</li>
        <li>@Html.ActionLink("Transpost many different type data to controller with ajax", "MVC_TransManyParam", "MVC")</li>
    </ul>
    @ViewBag.test
</body>
</html>