<html>
<head>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.js"></script>
    <script>
        window.onload = function ()
        {
            var strs = @Html.Raw(Json.Encode(ViewBag.strs));
            var candlist = document.getElementById("candlist");
        };

        function autocom(obj)
        {
            var val = obj.value.toUpperCase();
            var innerhtml = "";
            if (val != null && val != "") {
                for (var i in strs)
                {
                    if (strs[i].indexOf(val) > -1)
                    {
                        innerhtml += '<li id="' + strs[i] + '" onmousedown="candli(this)">' + strs[i] + '</li>';
                    }
                }
                if (innerhtml != "") {
                    candlist.innerHTML = innerhtml;
                    candlist.style.display = "block";
                }
                else {
                    candlist.style.display = "none";
                }
            }
            else {
                candlist.style.display = "none";
            }
        };

        function candli(obj)
        {
            document.getElementById("selfwrite").value = obj.innerText; // =obj.innerHTML
        };

        function ablur()
        {
            candlist.style.display = "none";
        };
    </script>
    <style>
        #candlist li {
            width: 100%;
        }

            #candlist li:hover {
                cursor: pointer;
                background-color: #cbcbcb;
            }
    </style>
</head>
<body>
    <h4>This page shows two auto complete function, which first is done by myself and second done by cite a JS library.</h4>
    <table class="table">
        <tr>
            <td>Test auto complete:</td>
            <td>
                <input id="selfwrite" onkeyup="autocom(this)" onblur="ablur()" />
                <ul id="candlist" style="position:absolute;background-color:#f2f2f2;padding:3px;border:1px solid black;list-style:none;width:178px;display:none;"></ul>
            </td>
        </tr>
        <tr>
            <td>Test auto complete:</td>
            <td>
                <input id="citejslibrary" />
                <script>
                    var strs = @Html.Raw(Json.Encode(ViewBag.strs));
                    $("#citejslibrary").autocomplete({
                        source: strs
                    });
                </script>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Auto complete can automatically input the following field:<br />
                @{ string[] autoSor = @ViewBag.strs;}
                @for (int i = 0; i < autoSor.Count(); i++)
                {
                    @autoSor[i]
                    if (i == autoSor.Count() - 1)
                    {
                        break;
                    }
                    @: ,&nbsp;
                }
            </td>
        </tr>
    </table>
</body>
</html>