<html>
<head>
    <script>
        function clickFunction()
        {
            var name = "Volvo";
            carname = name;     //Golbal variable
        };
        clickFunction();
        //document.getElementById("testp").innerHTML = carname;
        function otherClick()
        {
            document.getElementById("testp").innerHTML = carname;
        }
    </script>
</head>
<body>
    <br />
    <h4>If a variable defined in a function but not use 'var', this is a golbal variable.</h4>
    <br />
    <button class="btn btn-default" onclick="otherClick()">test button</button>
    <span id="testp" >123</span>
</body>
</html>