<html>
<head>
    <script>
        function validateEmail()
        {
            var email = document.getElementById("Email").value;
            $.ajax({
                type: "post",
                url: "/JavaScript/JS_ValidateEmail",
                data: { email: email },
                datatype: "json",
                success: function (msg)
                {
                    document.getElementById("validEmail").innerText = msg;
                }
            });
        }
    </script>
</head>
<body>
    <h4>This page shows JS validation.</h4>
    <br />
    <table class="table">
        <tr>
            <td>Input an E-mail address:</td>
            <td><input id="Email" /></td>
        </tr>
        <tr>
            <td><input type="button" id="validateEmail" value="validate E-mail" class="btn btn-default" onclick="validateEmail()" /></td>
            <td><span id="validEmail"></span></td>
        </tr>
    </table>
</body>
</html>