<html>
<head>
    <script>
        function clickFunction()
        {
            var name = "Volvo";
            document.getElementById("testp").innerHTML = name;
        };
    </script>
</head>
<body>
    <br />
    <button class="btn btn-default" onclick="clickFunction()">test button</button>
    <span id="testp" >123</span>
</body>
</html>