<html>
<head>

</head>
<body>
    <h2>This page shows CSS methods, you can check them individually.</h2>
    <div>
        <ul class="ulnone">
            <li>@Html.ActionLink("Fixed property", "CSS_Fixed", "CSS")</li>
            <li>@Html.ActionLink("Hide a long text", "CSS_HideALongText", "CSS")</li>
        </ul>
    </div>
</body>
</html>