<html>
<head>

</head>
<body>
    <h2>This page shows CSS methods, you can check them individually.</h2>
    <div>
        <ul class="ulnone">
            <li>@Html.ActionLink("Fixed property", "Fixed", "CSS")</li>
        </ul>
    </div>
</body>
</html>