<html>
<head>
    <title>MVC Index</title>
</head>
<body>
    <h2>This page lists some SQL Server demos.</h2>
    <ul class="ulnone">
        <li>@Html.ActionLink("Demo a SQL search optimize", "SQL_SearchDemo_Index", "SQLServer")</li>
    </ul>
</body>
</html>