@model IQueryable<DemoWithSQL.Models.Fruits>

@{
    ViewBag.Title = "SQL_Fruits_Index";
}

<script>

</script>

<h2>SQL_Fruits_Index</h2>

<div id="searchdiv"></div>
<table class="table">
    <tr>
        <td>FruitKey</td>
        <td>Name</td>
        <td>Price</td>
        <td>RequestMsg</td>
        <td>ResponseMsg</td>
        <td>CreateDate</td>
    </tr>
</table>